[Unit]
Description=Server Service
After=network.target

[Service]
Type=simple
User=nowmad
WorkingDirectory=/home/nowmad/workspace/nowmad
ExecStart=/usr/bin/yarn start
Restart=on-failure

[Install]
WantedBy=multi-user.target
