[Unit]
Description=Server Service
After=network.target

[Service]
Type=simple
User=julien
WorkingDirectory=/home/julien/nowmad
ExecStart=/usr/bin/npm run start:supabase && /usr/bin/npm start -p 8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
